<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855006989889-1kusc5itpio79fcebi13jjm7k343u61n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855006989889-1kusc5itpio79fcebi13jjm7k343u61n</string>
	<key>API_KEY</key>
	<string>AIzaSyCDkL4zZRDoBjp7kzJSorYnWOPYwopOC4k</string>
	<key>GCM_SENDER_ID</key>
	<string>855006989889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mmoMobile</string>
	<key>PROJECT_ID</key>
	<string>connectabc-97e5b</string>
	<key>STORAGE_BUCKET</key>
	<string>connectabc-97e5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855006989889:ios:14b807cc8c4887908500c0</string>
</dict>
</plist>